{% extends 'base.html.twig' %}

{% block title %}Hello ProfileController!{% endblock %}

{% block body %}

{{ user.username }}
    {{ user.email }}
    <img src="{{ user.profilePic }}" alt="">

    <a href="{{ path('profile_edit', {'username' : user.username}) }}">Modifier</a>

{% endblock %}
