{% extends 'base.html.twig' %}

{% block title %}Zéro Déchet{% endblock %}

{% block body %}

<main class="flex">
    <article class="w-full m-4">
        <div class="bg-white p-20 text-center rounded-lg">
            <h1 class="text-5xl font-bold text-blue-700 lg:flex-grow mt-6">Bienvenue sur le site Zero Déchet !</h1>
            <p class="mt-2 text-xl">Retrouvez sur notre site toutes les annonces ainsi que des conseils afin de rejoindre le mouvement Zéro Déchet !</p>
        </div>

        <h2 class="font-bold text-gray-800 text-center text-3xl mt-8 px-4">Les dernières annonces</h2>

        <div class="mt-12 grid gap-5 max-w-lg mx-auto lg:grid-cols-3 lg:max-w-none">

            {% for annonce in lastAnnonces %}
                {% include 'home/_card.html.twig' %}
            {% endfor %}
        </div>
    </article>
</main>



{% endblock %}
