<!-- component -->
<section class="bg-white py-8 w-full shadow-lg">
    <div class="container mx-auto px-8">
        <div class="flex justify-between text-sm">
            <p>Site crée dans le cadre du projet de fin d'année d'IUT de la promo 2020/2021</p>
            <div class="flex">
                <a class="mx-2" href="https://gitlab.com/malomiquel/projet-zero-dechet">
                    <img class="h-6" src="img/logo_gitlab.png" alt="gitlab">
                </a>
                <a class="mx-2" href="https://www.univ-orleans.fr/fr">
                    <img class="h-6" src="img/logo_univ.png" alt="univ">
                </a>
                <a class="mx-2" href="https://www.univ-orleans.fr/fr/iut-orleans/formation/informatique">
                    <img class="h-6" src="img/logo_iut.png" alt="iut">
                </a>
            </div>

        </div>
        <div class="text-xs">
            <p>Crée par : Quentin DA SILVA, Malo MIQUEL, Dariusz NOWAKOWSKI, Cyprien FERRAND et Quentin FILLIETTE</p>
        </div>
    </div>
</section>