<div class="bg-white">
    <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-8 lg:px-8">
        <div class="xl:grid xl:grid-cols-3 xl:gap-4">
            <div class="lg:flex lg:space-between xl:col-span-2">
                <div>
                    <p class="text-gray-500 text-base leading-6">
                        Site crée dans le cadre du projet de fin d'année d'IUT de la promo 2020/2021
                    </p>
                    <p class="text-gray-500 text-sm leading-6">
                        Crée par : Quentin DA SILVA, Malo MIQUEL, Dariusz NOWAKOWSKI, Cyprien FERRAND et Quentin FILLIETTE
                    </p>
                </div>
            </div>
            <div>
                <div class="flex mt-4 xl:mt-0">
                    <a href="#" class="text-gray-400 hover:text-gray-500">
                        <img class="h-8 w-auto" src="{{ asset('img/logo_iut.png')}}" alt="iut">
                    </a>
                    <a href="#" class="ml-6 text-gray-400 hover:text-gray-500">
                        <img class="h-8 w-auto" src="{{ asset('img/logo_univ.png')}}" alt="univ">
                    </a>
                    <a href="#" class="ml-6 text-gray-400 hover:text-gray-500">
                        <img class="h-8 w-auto" src="{{ asset('img/logo_gitlab.png')}}" alt="gitlab">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

